@font-face {
    font-family: 'Iosevka';
    src: url('/static/fonts/IosevkaCustom-Extended.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Iosevka';
    src: url('/static/fonts/IosevkaCustom-ExtendedBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Iosevka';
    src: url('/static/fonts/IosevkaCustom-ExtendedExtraBold.woff2') format('woff2');
    font-weight: extrabold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Iosevka';
    src: url('/static/fonts/IosevkaCustom-ExtendedBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
  }